<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      การยืนยันออเดอร์
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <img src="assets/icon/03.png" alt="Confirmation Icon" style="height: 80px;">
  </div>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-label>
        ลูกค้าคิวที่1
      </ion-label>
  <br>
  <p>ปกป้อง จิตต์รัตนพงศ์</p>
  <p>099999999</p>
      <div class="ion-padding">
        <img src="assets/icon/ก๋วยเตี๋ยวเย็นตาโฟ.png" alt="Noodle Image" style="height: 150px;">
      </div>

      <ion-label img src="" alt="Noodle Image" style="height: 150px;">
        ก๋วยเตี๋ยวเส้นเล็กเย็นตาโฟ
      </ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-footer>
    <ion-button expand="block" color="primary"routerLink="/home">
      กลับหน้าแรก
    </ion-button>
  </ion-footer>

</ion-content>
