<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      ข้อมูลข่าวสาร
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <img src="assets/icon/10.png" alt="Information Icon" style="height: 80px;">
  </div>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <p>การแจ้งวันหยุดประจำสัปดาห์</p>
      <p>การแจ้งเมนูพิเศษประจำวัน</p>
      <p>การแจ้งโปรโมชั่นต่างๆประจำเดือน</p>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-button expand="block" color="primary"routerLink="/home">
      กลับหน้าแรก
    </ion-button>
  </ion-footer>

</ion-content>
