<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      เปิด-ปิด รับออเดอร์
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <img src="assets/icon/04.png" alt="Confirmation Icon" style="height: 80px;">
  </div>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <p>
        เวลาการเปิดรับออเดอร์วันจันทร์ถึงศุกร์ เวลา <strong>7.00-17.00 น.</strong>
      </p>
      <p>
        เวลาการเปิดรับออเดอร์วันเสาร์และอาทิตย์ ตั้งแต่เวลา <strong>8.00-16.00 น.</strong> 
      </p>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-button expand="block" color="primary"routerLink="/home">
      กลับหน้าแรก
    </ion-button>
  </ion-footer>

</ion-content>
