<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>รายการอาหาร</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <div class="menu-list">
    <ion-list>
      <ion-item>
        <img src="assets/icon/ก๋วยเตี๋ยวต้มยำ.png" alt="Chef Icon" style="width: 100px; height: 100px;">
        <ion-label>
          <h2 style="text-align: center;">ก๋วยเตี๋ยวต้มยำ</h2>
          <p style="text-align: center;">45 บ.</p>
        </ion-label>
      </ion-item>
  <br>
      <ion-item>
          <img src="assets/icon/ก๋วยเตี๋ยวเย็นตาโฟ.png" alt="Chef Icon" style="width: 100px; height: 100px;">
        <ion-label>
          <h2 style="text-align: center;">ก๋วยเตี๋ยวเย็นตาโฟ</h2>
          <p style="text-align: center;">50 บ.</p>
        </ion-label>
      </ion-item>
      <br>
      <ion-item>
          <img src="assets/icon/ต้มเลือดหมู.png" alt="Chef Icon" style="width: 100px; height: 100px;">
        <ion-label>
          <h2 style="text-align: center;">ต้มเลือดหมู</h2>
          <p style="text-align: center;">50 บ.</p>
        </ion-label>
      </ion-item>
      <br>
      <ion-item>
          <img src="assets/icon/ข้าวเปล่า.png" alt="Chef Icon" style="width: 100px; height: 100px;">
        <ion-label>
          <h2 style="text-align: center;">ข้าวเปล่า </h2>
          <p style="text-align: center;">10 บ.</p>
        
            </ion-label>
          </ion-item>

         
            <ion-item>
            <img src="assets/icon/เเคป.png" alt="Chef Icon" style="width: 100px; height: 100px;">
          <ion-label>
            <h2 style="text-align: center;">แคปหมู </h2>
            <p style="text-align: center;">10 บ.</p>
          
              </ion-label>
            </ion-item>

            <ion-item>
              <img src="assets/icon/น้ำ.png" alt="Chef Icon" style="width: 100px; height: 100px;">
            <ion-label>
              <h2 style="text-align: center;">น้ำเปล่า </h2>
              <p style="text-align: center;">10 บ.</p>
            
                </ion-label>
              </ion-item>

              <ion-item>
                <img src="assets/icon/เก๊กฮวย.jpg" alt="Chef Icon" style="width: 100px; height: 70px;">
              <ion-label>
                <h2 style="text-align: center;">เก๊กฮวย </h2>
                <p style="text-align: center;">20 บ.</p>
              
                  </ion-label>
                </ion-item>

    </ion-list>
  </div>
</ion-content>
